{% extends 'base.html.twig' %}

{% block title %}
Gestionnaire d'hôtels Hb-HotelManager
{% endblock %}

{% block content %}


<a href="">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> retour à la liste
</a>
<!-- CAS 1 : La chambre est innoccupée -->
<div class="card mb-3">
    <div class="card-header">
        <strong>Gestion de la chambre # {{room.number}}</strong>
        {% if room.userId %}
            <span class="badge badge-danger">Occupée</span>
        {% else %}
            <span class="badge badge-success">Libre</span>
        {% endif %}
    </div>
    <div class="card-body">


        {% if room.userId %}
            <p>
                Occupée par Emma Watson. <a href="" class="text-danger">Supprimer la reservation</a>
            </p>
        {% else %}
            <form action="">

                <div class="form-group">
                    <label for="formClient">Ajouter un client</label>
                    <select name="client_id" id="formClient" class="form-control">
                        {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.firstname }} {{ client.lastname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn btn-primary">Ajouter le client à la chambre</button>

            </form>
        {% endif %}


    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i> Supprimer la chambre
        </a>
    </div>
</div>
{% endblock %}